* {
  box-sizing: border-box; /* padding and border in the element's total width and height */
}

body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Scope One', Arial, sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

hr {
  max-width: 50px;
  border-width: 3px;
  border-color: #fff;
}

hr.light {
  border-color: #fff;
}

h2.mb-5 {
  margin-top: 40px;
}

aside#break-top {
  width: 100;
  height: 40px;
  background-color: #C45525;
}

aside#break-bottom {
  width: 100;
  height: 40px;
  background-color: #86EBE6;
}

a {
  color: #fff;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

a:hover {
  color: #DE9440;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  color: #fff;
}

h1 {
  font-size: 3.5em;
}

h2.section-heading, .mb-5, .fa-phone, .fa-envelope-o {
  color: #fff;
}

.bg-primary {
  background-color: #E8A75D !important;
}

.bg-dark {
  background-color: #212529 !important;
}

.text-faded {
  color: #fff;
  padding-top: 20px;
}

section {
  background-color: #345A61;
  padding-top: 100px;
}

.section-heading {
  margin-top: 0;
}

.container-fluid {
  padding: 10rem 0;
}

::-moz-selection {
  color: #86EBE6;
  background: #E8A75D;
  text-shadow: none;
}

::selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}

img::selection {
  color: #fff;
  background: transparent;
}

img::-moz-selection {
  color: #fff;
  background: transparent;
}

input::placeholder {
  color: white;
}

#mainNav {
  border-bottom: 1px solid rgba(33, 37, 41, 0.1);
  background-color: #fff;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

#mainNav .navbar-brand {
  font-weight: 750;
  color: #DE9440;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

#mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #C45525;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
  font-size: .9rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #212529;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
  color: #DE9440;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active {
  color: #DE9440 !important;
  background-color: transparent;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active:hover {
  background-color: transparent;
}

@media (min-width: 992px) {
  #mainNav {
    border-color: transparent;
    background-color: rgba(33, 37, 41, 0.3);
  }
  #mainNav .navbar-brand {
    color: rgba(255, 255, 255, 0.8);
  }
  #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
    color: #fff;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link {
    padding: 0.5rem 1rem;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #fff;
  }
  #mainNav.navbar-shrink {
    border-bottom: 1px solid rgba(33, 37, 41, 0.1);
    background-color: rgba(33, 37, 41, 0.3);
  }

  #mainNav.navbar-shrink input {
    background: none;
    border: none;
    border-bottom: 1px #fff;
    color: #86EBE6;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #86EBE6;
  }
  #mainNav.navbar-shrink .navbar-brand:focus, #mainNav.navbar-shrink .navbar-brand:hover {
    color: #86EBE6;
  }
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link,
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus {
    color: #86EBE6;
  }

  #mainNav.navbar-shrink .navbar-nav {
    border-bottom: #DE9440;
  }

  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #DE9440;
  }

  #mainNav.navbar-shrink {
    color: #fff;
  }
}

input {
  background: none;
  border: none;
  border-bottom: 1px solid white;
  color: white;
}

form button {
  border: none;
  color: white;
  background: none;
  cursor: pointer;
}

.navbar-shrink form button {
  color: #86EBE6;
}

header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 56px);
  background-image: url("../img/header.jpg");
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header.masthead hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

header.masthead h1 {
  font-size: 2rem;
}

header.masthead p {
  font-weight: 300;
}

.navbar-collapse.collapse.show input, button {
  color: black;
  border-bottom: 1px solid;
}

.navbar-collapse.collapse.show button {
  color: black;
  border-bottom: 1px;
}

@media (min-width: 992px) {
  header.masthead {
    height: 100vh;
    min-height: 650px;
    padding-top: 0;
    padding-bottom: 0;
  }

    header.masthead h1 {
      font-size: 3rem;
    }
}

@media (min-width: 1200px) {
  header.masthead h1 {
    font-size: 4rem;
  }
}

.text-primary {
  color: #DE9440 !important;
}

.btn {
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 300px;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.btn-xl {
  padding: 1rem 2rem;
}

.btn-primary {
  background-color: #DE9440;
  border-color: #DE9440;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  color: #fff;
  background-color: #C45525 !important;
}

.btn-primary:active, .btn-primary:focus {
  box-shadow: 0 0 0 0.2rem #C45525 !important;
}

.btn-outline-secondary {
  color: white;
}

.btn-outline-secondary:hover {
  background-color: #86EBE6;
}

form button .fa-2x {
  width: 30;
  height: 30;
}

input#id_username, input#id_password, input#id_email, input#id_password1, input#id_password2 {
  border-bottom: 1px solid #fff;
  color: #fff;
}

label {
  
  width: 100%;
}

