{% extends 'openfoodfacts/base.html' %}

{% block title %}{{ page_title }}{% endblock %}

{% block content %}

{% include 'openfoodfacts/header.html' with title=user.username img=img %}

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <h2 class="section-heading">Bienvenue sur votre espace personnel</h2>
                <br><br>
            </div>
        </div>
        <div class="row">
          <div class="col-lg-4 mr-auto text-center">
              <h5>Votre adresse e-mail: {{ user.email }}</h5>
          </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
            <div class="text-center">
                   <a class="btn btn-primary" href="{% url 'openfoodfacts:saved'%}" role="button">Mes aliments</a>
                   <a class="btn btn-primary" href="{% url 'openfoodfacts:logout'%}" role="button">Déconnexion</a>
        </div>
    </div>


</section>

{% endblock %}