{% extends 'openfoodfacts/base.html' %}

{% block title%}{{ page_title }}{% endblock %}

{% block content %}

{% include 'openfoodfacts/header.html' with title=title img=img %}

<section>
    <div class="container">
        <p align="center"> Site internet hébergé par <a href="http://heroku.com/contact" title="Heroku website">Heroku</a><br><br>
            Siège social: The Landmark @ 1 Market St <br> 
            Suite 300 <br>
            San Francisco, CA 94105 <br>
        </p>

        <hr>

        <br>

        <p align="center">
            Image de fond: credit by Olenka Kotyk, plateforme <a href="https://unsplash.com/" title="Unsplash website">Unsplash</a> <br>
            Icone carotte: credit by Fabien Jouin, <a href="https://thenounproject.com/" title="The Noun Project website">'the Noun Project'</a> <br>
        </p>

        <hr>

        <p align="center">&copy <i><a href="https://github.com/emas89" title="Emanuele GitHub profile"> Pellegrini Emanuele</a></i> pour la startup <strong><i>Pur Beurre<sup>&reg</sup></strong></i><br></p>
    </div>

</section>

{% endblock %}