{% extends 'purbeurre/base.html' %}

{% load i18n %}

{% block title %}{{ page_title }}{% endblock %}

{% block content %}

{% include 'purbeurre/header.html' with title=user.username img=img %}

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <h2 class="section-heading">{% trans "Bienvenue sur votre espace personnel" %}</h2>
                <br><br>
            </div>
        </div>
        <div class="row">
          <div class="col-lg-4 mr-auto text-center">
              <h5>{{ user.email }}</h5>
          </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
            <div class="text-center">
                   <a class="btn btn-primary" href="{% url 'purbeurre:saved'%}" role="button">{% trans "Mes aliments" %}</a>
                   <a class="btn btn-primary" href="{% url 'purbeurre:logout'%}" role="button">{% trans "Déconnexion" %}</a>
        </div>
    </div>


</section>

{% endblock %}